{{ attach_library('iq_bef_extensions/layout_standard') }}

<div class="iq-bef-layout layout-standard" data-toggable="filter">
  <header>
    <a class="toggle-filtern" data-toggle="filter">{{"Filter"|t}}</a>
  </header>
  <section>
    <div class="row iq-row filters-region form-row">
      {{ content.filters }}
    </div>
    <div class="row iq-row footer-region form-row">
      {% if content.sorting|render|striptags|trim is not empty %}
      <div class="col sorting-region">
        <div class="title">{{"Sorting"|t}}</div>{{ content.sorting }}
      </div>
      {% endif %}
      <div class="col actions-region">
        {{ content.actions }}
      </div>
    </div>
  </section>
</div>
